<div class="col m-4">
  <div class="card">
    <img src="assets/img/Proceso-de-admisión-en-la-Universidad-Mariano-Gálvez.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.content }}</p>
      <p class="card-text"><small class="text-muted">Universidad Mariano Galvez De Guatemala</small></p>
      <div class="container mb-2"> 
        <button class="btn btn-lg" (click)="like()"><i class="fa fa-thumbs-up"></i></button><strong>{{ likeCount }}</strong>
        <button class="btn btn-lg" (click)="deslike()"><i class="fa fa-thumbs-down"></i></button><strong>{{ deslikeCount }}</strong>
      </div>
    </div>
  </div>
</div>