<app-navbar></app-navbar>
<div class="card-group my-2">
    <div class="card">
      <img src="assets/img/Proceso-de-admisión-en-la-Universidad-Mariano-Gálvez.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Campus Central</h5>
        <p class="card-text">Según la Universidad Mariano Gálvez de Guatemala, su misión es formar en niveles de excelencia académica profesionales competentes, éticamente responsables y socialmente abiertos al cambio mediante el desarrollo integrado de la docencia, la investigación y el servicio a la comunidad con el propósito de tener la oportunidad de participar de los beneficios de la ciencia, la tecnología y la cultura.</p>
        <p class="card-text"><small class="text-muted">Universidad Mariano Galvez De Guatemala</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/Directorio-Centros-Universitarios-UMG.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Firmando Titulo Universitario Profesional</h5>
        <p class="card-text">Este tipo de actos, serán comandados  por el Rector o su delegado en ausencia de éste, el cual determinará el juramento protocolario a los alumnos que se graduan, habiendo procedido a la lectura con anterioridad de un certificado emitido por la Secretaría General en base a llevar a cabo de la totalidad de las condiciones estipuladas en referencia a los alumnos de carácter regular.</p>
        <p class="card-text"><small class="text-muted">Universidad Mariano Galvez De Guatemala</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/Universidad-Mariano-Galvez-de-Guatemala.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Acto De Graduación</h5>
        <p class="card-text">En este acto, presidido por las máximas autoridades de la Facultad, los graduados y las graduadas que asistirán recibirán un diploma emitido por la Facultad como recordatorio del acto.</p>
        <p class="card-text"><small class="text-muted">Universidad Mariano Galvez De Guatemala</small></p>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>